<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <% if(user){ %> <%- include("../partials/nav_logged.ejs") %> <% } else {
      %> <%- include("../partials/nav.ejs") %> <% } %>

      <aside id="colorlib-hero">
        <div class="flexslider">
          <ul class="slides">
            <li style="background-image: url(images/img_bg_2.jpg)">
              <div class="overlay"></div>
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-6 col-sm-12 col-md-offset-3 col-xs-12 slider-text"
                  >
                    <div class="slider-text-inner text-center">
                      <h1>Contact Us</h1>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </aside>

      <div class="colorlib-search">
        <div class="container">
          <div class="row">
            <div class="col-md-12 search-wrap">
              <!-- Search bar start -->
              <div class="search-wrap-2">
                <form method="get"  action="/resources" class="colorlib-form">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <!-- <label for="search">Search Course</label> -->
                        <div class="form-field">
                          <input
                            type="text"
                            id="search"
							name="resourceName"
                            class="form-control"
                            placeholder="Resource Name"
							value="<%= resourceName %>"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <!-- <label for="search">Search Course</label> -->
							<select id="departmentId" name="departmentId" class="form-control custom-select">
								<option value="">Department Names</option>
								<% for(var i=0; i<departments.length; i++) {%>
									<% if(department && department.department_name === departments[i].department_name){ %>
										<option selected value="<%= departments[i]._id %>"><%= departments[i].department_name %></option>
									<% } else { %>  
										<option value="<%= departments[i]._id %>"><%= departments[i].department_name %></option>
									<% } %>
								<% } %>
							</select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <input
                        type="submit"
                        name="submit"
                        id="submit"
                        value="Search"
                        class="btn btn-primary btn-block"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <!-- Search bar end -->
            </div>
          </div>
        </div>
      </div>

      <div class="colorlib-contact">
        <div class="container">
          <div class="row row-pb-md">
            <div class="col-md-12 animate-box">
              <h2>Contact Information</h2>
              <div class="row">
                <div class="col-md-12">
                  <div class="contact-info-wrap-flex">
                    <div class="con-info">
                      <p>
                        <span><i class="icon-location-2"></i></span> 198 West
                        21th Street, <br />
                        Suite 721 New York NY 10016
                      </p>
                    </div>
                    <div class="con-info">
                      <p>
                        <span><i class="icon-phone3"></i></span>
                        <a href="tel://1234567920">+ 1235 2355 98</a>
                      </p>
                    </div>
                    <div class="con-info">
                      <p>
                        <span><i class="icon-paperplane"></i></span>
                        <a href="mailto:info@yoursite.com">info@yoursite.com</a>
                      </p>
                    </div>
                    <div class="con-info">
                      <p>
                        <span><i class="icon-globe"></i></span>
                        <a href="#">yourwebsite.com</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Message Us</h2>
            </div>
            <div class="col-md-6">
              <form action="#">
                <div class="row form-group">
                  <div class="col-md-6">
                    <!-- <label for="fname">First Name</label> -->
                    <input
                      type="text"
                      id="fname"
                      class="form-control"
                      placeholder="Your firstname"
                    />
                  </div>
                  <div class="col-md-6">
                    <!-- <label for="lname">Last Name</label> -->
                    <input
                      type="text"
                      id="lname"
                      class="form-control"
                      placeholder="Your lastname"
                    />
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <!-- <label for="email">Email</label> -->
                    <input
                      type="text"
                      id="email"
                      class="form-control"
                      placeholder="Your email address"
                    />
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <!-- <label for="subject">Subject</label> -->
                    <input
                      type="text"
                      id="subject"
                      class="form-control"
                      placeholder="Your subject of this message"
                    />
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <!-- <label for="message">Message</label> -->
                    <textarea
                      name="message"
                      id="message"
                      cols="30"
                      rows="10"
                      class="form-control"
                      placeholder="Say something about us"
                    ></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="submit"
                    value="Send Message"
                    class="btn btn-primary"
                  />
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div id="map" class="colorlib-map"></div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- Js start -->

    <%- include("../partials/script.ejs") %>

    <!-- Js end -->
  </body>
</html>
