<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
    <!-- Bootstrap min -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    <!-- Fontawesome-all min -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css" />

    <!-- Iofrm-style -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css" />

    <!-- Iofrm-theme 17 -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme17.css" />
  </head>

  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <% if(user){ %> <%- include("../partials/nav_logged.ejs") %> <% } else {
      %> <%- include("../partials/nav.ejs") %> <% } %>

      <div class="form-body without-side">
        <div class="row">
          <div class="img-holder">
            <div class="bg">
              <img src="images/img_bg_2.jpg" alt="" />
            </div>
          </div>

          <div class="form-holder">
            <form action="/login" method="POST">
              <div class="form-content">
                <div class="form-items">
                  <h3>Donation</h3>
                  <p>
                    Your donation will help us further improve our website even
                    better!
                  </p>
                  <form>
                    <div class="form-group">
                      <label class="form-label" for="user_password"
                        >Amount ($)</label
                      >

                      <input
                        type="number"
                        class="form-control"
                        id="amount"
                        name="amount"
                        placeholder="Amount ($)"
                        required
                      />

                      <div class="invalid-feedback">
                        Please provide a valid amount
                      </div>

                      <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="form-button">
                      <div id="paypal-button"></div>
                    </div>
                  </form>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>
    </div>

    <!-- js start here -->
    <%- include("../partials/script.ejs") %>
    <!-- Main-log -->
    <script src="js/main-log.js"></script>

    <!-- Popper -->
    <script src="js/popper.min.js"></script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
      paypal.Button.render(
        {
          style: {
            size: "responsive",
            shape: "rect",
            color: "blue",
          },
          env: "sandbox", // Or 'production'
          // Set up the payment:
          // 1. Add a payment callback
          payment: function (data, actions) {
            const amount = document.querySelector("#amount").value;
            if (!amount) {
              alert("Please specify an amount");
              return window.location.reload();
            }
            // 2. Make a request to your server
            return actions.request
              .post(`/paypal/my-api/create-payment?amount=${amount}`)
              .then(function (res) {
                // 3. Return res.id from the response
                return res.id;
              });
          },
          // Execute the payment:
          // 1. Add an onAuthorize callback
          onAuthorize: function (data, actions) {
            const amount = document.querySelector("#amount").value;
            if (!amount) {
              alert("Please specify an amount");
              return window.location.reload();
            }
            // 2. Make a request to your server
            return actions.request
              .post("/paypal/my-api/execute-payment/", {
                paymentID: data.paymentID,
                payerID: data.payerID,
                amount,
              })
              .then(function (res) {
                // 3. Show the buyer a confirmation message.
                if (res.status === "success") {
                  return (window.location.href = "/");
                } else {
                  alert("Failed to perform payment");
                  return window.location.reload();
                }
              });
          },
        },
        "#paypal-button"
      );
    </script>

    <!-- js end here -->
  </body>
</html>
