<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
    <!-- Bootstrap min -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    <!-- Fontawesome-all min -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css" />

    <!-- Iofrm-style -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css" />

    <!-- Iofrm-theme 17 -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme17.css" />
  </head>

  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <% if(user){ %> <%- include("../partials/nav_logged.ejs") %> <% } else {
      %> <%- include("../partials/nav.ejs") %> <% } %>

      <div class="form-body without-side">
        <div class="row">
          <div class="img-holder">
            <div class="bg">
              <img src="images/img_bg_2.jpg" alt="" />
            </div>
          </div>

          <div class="form-holder">
            <form action="/login" method="POST">
              <div class="form-content">
                <div class="form-items">
                  <h3>Donation</h3>
                  <p>
                    Your donation will help us further improve our website even
                    better!
                  </p>
                  <form>
                    <h4>Card Number</h4>
                    <input
                      class="form-control"
                      type="text"
                      name="user_email"
                      placeholder="Card Number"
                      required
                    />
                    <h4>Security Code</h4>
                    <input
                      class="form-control"
                      type="text"
                      name="user_password"
                      placeholder="CVV"
                      required
                    />
                    <h4>Expiry Date</h4>
                  <select
                    id="expire_month"
                    class="form-control select"
                    style="width: 110px"
                  >
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <select
                    id="expire_year"
                    class="form-control select"
                    style="width: 100px"
                  >
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                  </select>
                    <div class="form-button">
                      <button id="submit" type="submit" class="ibtn">
                        Donate
                      </button>
                      <button id="submit" type="submit" class="ibtn">
                        Paypal
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>
    </div>

    <!-- js start here -->
    <%- include("../partials/script.ejs") %>
    <!-- Main-log -->
    <script src="js/main-log.js"></script>

    <!-- Popper -->
    <script src="js/popper.min.js"></script>

    <!-- js end here -->
  </body>
</html>
