<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
    <!-- Bootstrap min -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    <!-- Fontawesome-all min -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css" />

    <!-- Iofrm-style -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css" />

    <!-- Iofrm-theme 17 -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme17.css" />
  </head>

  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <% if(user){ %> <%- include("../partials/nav_logged.ejs") %> <% } else {
      %> <%- include("../partials/nav.ejs") %> <% } %>

      <div class="form-body without-side">
        <div class="row">
          <div class="img-holder">
            <div class="bg">
              <img src="images/img_bg_2.jpg" alt="" />
            </div>
          </div>

          <div class="form-holder">
            <div class="form-content">
              <div class="form-items">
                <h3>Password Reset</h3>
                <p>
                  To reset your password, enter the email address of your
                  created account
                </p>
                <form>
                  <input
                    class="form-control"
                    type="text"
                    name="username"
                    placeholder="E-mail Address"
                    required
                  />
                  <div class="form-button full-width">
                    <button id="submit" type="submit" class="ibtn btn-forget">
                      Send Reset Link
                    </button>
                  </div>
                </form>
              </div>

              <div class="form-sent">
                <div class="tick-holder">
                  <div class="tick-icon"></div>
                </div>
                <h3>Password link sent</h3>
                <p>Please check your inbox</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>
    </div>

    <!-- js start here -->
    <%- include("../partials/script.ejs") %>
    <!-- Main-log -->
    <script src="js/main-log.js"></script>

    <!-- Popper -->
    <script src="js/popper.min.js"></script>

    <!-- js end here -->
  </body>
</html>
