<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
  </head>

  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <% if(user){ %> <%- include("../partials/nav_logged.ejs") %> <% } else {
      %> <%- include("../partials/nav.ejs") %> <% } %>

      <aside id="colorlib-hero">
        <div class="flexslider">
          <ul class="slides">
            <li style="background-image: url(images/img_bg_1.jpg)">
              <div class="overlay"></div>
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-8 col-sm-12 col-md-offset-2 col-xs-12 col-md-pull-1 slider-text"
                  >
                    <div class="slider-text-inner">
                      <div class="desc">
                        <h2>You only have to know one thing</h2>
                        <h1>Best Online Learning System</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </aside>

      <div id="colorlib-services">
        <div class="container">
          <div class="row">
            <div class="col-md-12 services-wrap">
              <div class="row">
                <div
                  class="col-md-12 colorlib-heading center-heading text-center animate-box"
                >
                  <h1 class="heading-big">Popular Departments</h1>
                  <h2>Popular Departments</h2>
                </div>
              </div>

              <% if (departments.length<1) {%>
                <div class=" text-center">
                  <h2> No Department with required attributes available! </h2>
                </div>
              <% } %>

              <div class="row">

                <% for(var i=0; i<categories.length; i++) {%>
                  <div class="col-md-4 animate-box department-item">
                    <div class="classes">
                      <div class="wrap">
                        <div class="desc">
                          <h3><a href="/resources?departmentId=<%=categories[i]._id%>">
                            <%= categories[i].department_name %>
                          </a></h3>
                          <p style="margin-bottom: -10px;"><%= listOfResourcesNumber[i] %> resource(s)</p>
                        </div>
                        <div class="pricing">
                          <p>
                            <span class="price"> Date: <%= categories[i].create_date.toLocaleDateString() %> </span>
                            <br/>
                            <span class="price"> Update: <%= categories[i].last_update.toLocaleDateString() %> </span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } %>
      
                
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="colorlib-classes">
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 colorlib-heading center-heading text-center animate-box"
            >
              <h1 class="heading-big">Popular Resources</h1>
              <h2>Popular Resources</h2>
            </div>
          </div>

          <% if (resources.length<1) {%>
            <div class=" text-center">
              <h2> No Resource with required attributes available! </h2>
            </div>
          <% } %>

          <div class="row">

			<% for(var i=0; i<resources.length; i++) {%>
				<div class="col-md-4 animate-box resource-item">
					<div class="classes">
						<div
						class="classes-img"
						bg-data="<%= resources[i].resource_image %>"
						></div>
						<div class="wrap">
						<div class="desc">
							<span class="teacher">
								<%= resources[i].user.user_name %>
							</span>
							<h3><a href="/resource-single?resourceId=<%= resources[i]._id %>">
								<%= resources[i].resource_name %>
							</a></h3>
						</div>
						<div class="pricing">
							<p>
							<span class="price"> Date: <%= resources[i].create_date.toLocaleDateString() %> </span>
							<br/>
							<span class="price"> Update: <%= resources[i].last_update.toLocaleDateString() %> </span>
							</p>
						</div>
						</div>
					</div>
				</div>
			<% } %>


          </div>

        </div>
      </div>

      <div id="colorlib-counter" class="colorlib-counters">
        <div class="container">
          <div class="col-md-7">
            <div class="about-desc">
              <div
                class="about-img-1 animate-box"
                style="background-image: url(images/about-img-2.jpg)"
              ></div>
              <div
                class="about-img-2 animate-box"
                style="background-image: url(images/about-img-1.jpg)"
              ></div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-12 colorlib-heading animate-box">
                <h1 class="heading-big">Who are we</h1>
                <h2>Who are we</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 animate-box">
                <p>
                  <strong
                    >Even the all-powerful Pointing has no control about the
                    blind texts</strong
                  >
                </p>
                <p>
                  Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic life One day however a
                  small line of blind text by the name of Lorem Ipsum decided to
                  leave for the far World of Grammar.
                </p>
              </div>
              <div class="col-md-6 col-sm-6 animate-box">
                <div class="counter-entry">
                  <div class="desc">
                    <span
                      class="colorlib-counter js-counter"
                      data-from="0"
                      data-to="1539"
                      data-speed="5000"
                      data-refresh-interval="50"
                    ></span>
                    <span class="colorlib-counter-label">Courses</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 animate-box">
                <div class="counter-entry">
                  <div class="desc">
                    <span
                      class="colorlib-counter js-counter"
                      data-from="0"
                      data-to="3653"
                      data-speed="5000"
                      data-refresh-interval="50"
                    ></span>
                    <span class="colorlib-counter-label">Students</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>
    </div>

    <script>
      const resourcesItems = document.querySelectorAll(".resource-item .classes-img");
      for (let i = 0; i < resourcesItems.length; i++) {
        const resourcesItem = resourcesItems[i];
        const bgImage = resourcesItem.getAttribute("bg-data");
        resourcesItem.setAttribute("style", `background-image: url(${bgImage})`)
      }
    </script>
  </body>
</html>
