<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>

  </head>

  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <%- include("../partials/nav.ejs") %>

      <aside id="colorlib-hero">
        <div class="flexslider">
          <ul class="slides">
            <li style="background-image: url(images/img_bg_2.jpg)">
              <div class="overlay"></div>
              <div class="container-fluid">
                <div class="row">
                  <div
                    class="col-md-6 col-sm-12 col-md-offset-3 col-xs-12 slider-text"
                  >
                    <div class="slider-text-inner text-center">
                      <h1>Resource Detail</h1>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </aside>

      <div class="colorlib-search">
        <div class="container">
          <div class="row">
            <div class="col-md-12 search-wrap">
              <!-- Search bar start -->
              <div class="search-wrap-2">
                <form method="get"  action="/resources" class="colorlib-form">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <!-- <label for="search">Search Course</label> -->
                        <div class="form-field">
                          <input
                            type="text"
                            id="search"
							              name="resourceName"
                            class="form-control"
                            placeholder="Resource Name"
							              value=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <!-- <label for="search">Search Course</label> -->
                      <select id="departmentId" name="departmentId" class="form-control custom-select">
                        <option value="" selected>Department Names</option>
                        <% for(var i=0; i<departments.length; i++) {%>
                            <option value="<%= departments[i]._id %>"><%= departments[i].department_name %></option>
                        <% } %>
                      </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <input
                        type="submit"
                        name="submit"
                        id="submit"
                        value="Search"
                        class="btn btn-primary btn-block"
                      />
                    </div>
                  </div>
                </form>
              </div>
              <!-- Search bar end -->
            </div>
          </div>
        </div>
      </div>

      <div class="colorlib-classes">
        <div class="container">
          <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
              <div class="row row-pb-lg">
                <div class="col-md-12 animate-box resource-view">
                  <div class="classes class-single">
                    <div
                      class="classes-img"
                      bg-data="<%= resource.resource_image %>"
                    ></div>
                    <div class="desc desc2">
                      <h3><%= resource.resource_name %></h3>

                      <div class="desc desc2">
                        <iframe
                          src="<%=resource.resource_file%>"
                          width="100%"
                          height="900px"
                        ></iframe>
                        <p>
                          <% if(user){ %>
                            <% if(library){ %>
                              <a href="/library/remove-from-library?resourceId=<%= resource._id %>&libraryId=<%= library._id %>&mode=client" type="button" class="btn btn-danger">
                                <span>Remove from Library</span>
                              </a>
                            <% } else { %>  
                              <a href="/library/add-to-library?resourceId=<%= resource._id %>&mode=client" type="button" class="btn btn-primary">
                                <span>Save to Library</span>
                              </a>
                            <% } %>
                          <% } %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include("../partials/footer.ejs") %>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- js start here -->

    <script>
      const resourcesItems = document.querySelectorAll(
        ".resource-view .classes-img"
      );
      for (let i = 0; i < resourcesItems.length; i++) {
        const resourcesItem = resourcesItems[i];
        const bgImage = resourcesItem.getAttribute("bg-data");
        resourcesItem.setAttribute(
          "style",
          `background-image: url(${bgImage})`
        );
      }
    </script>

    <%- include("../partials/script.ejs") %>

    <!-- js end here -->
  </body>
</html>
