<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/head.ejs") %>
    <!-- Bootstrap min -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    <!-- Fontawesome-all min -->
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css" />

    <!-- Iofrm-style -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-style.css" />

    <!-- Iofrm-theme 17 -->
    <link rel="stylesheet" type="text/css" href="css/iofrm-theme17.css" />
  </head>

  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <% if(user){ %> <%- include("../partials/nav_logged.ejs") %> <% } else {
        %> <%- include("../partials/nav.ejs") %> <% } %>

      <div class="form-body without-side">
        <div class="row">
          <div class="img-holder">
            <div class="bg">
              <img src="images/img_bg_2.jpg" alt="" />
            </div>
          </div>

          <div class="form-holder">
            
            <div class="form-content">
              <div class="form-items">
                <form action="/signup" method="POST">
                <h3>Create new account</h3>
                  <input
                    class="form-control"
                    type="text"
                    name="user_name"
                    id="user_name"
                    placeholder="User Name"
                    required
                  />
                  <input
                    class="form-control"
                    type="text"
                    name="user_full_name"
                    id="user_full_name"
                    placeholder="Full Name"
                    required
                  />
                  <input
                    class="form-control"
                    type="email"
                    name="user_email"
                    id="user_email"
                    placeholder="E-mail Address"
                    required
                  />
                  <input
                    class="form-control"
                    type="password"
                    name="user_password"
                    id="user_password"
                    placeholder="Password"
                    required
                  />
                  <input
                    class="form-control"
                    type="password"
                    name="confirm_user_password"
                    id="confirm_user_password"
                    placeholder="Confirm Password"
                    required
                  />

				          <div class="form-group">
                    <label class="form-label" for="type">User Type</label>

                    <select id="type" name="type" class="form-control custom-select">
                        <option selected>User Types </option>
                        <% for(var i=0; i<types.length; i++) {%>
                        <option value="<%= types[i]._id %>"><%= types[i].user_type %></option>
                        <% } %>
                      </select>
                  </div>
                  <div class="form-button">
                    <button id="submit" type="submit" class="ibtn">
                      Create
                    </button>
                  </div>
                <div class="page-links">
                  <a href="/login">Login to account</a>
                </div>
              </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </div>

    <!-- js start here -->
    <%- include("../partials/script.ejs") %>
    <!-- Main-log -->
    <script src="js/main-log.js"></script>

    <!-- Popper -->
    <script src="js/popper.min.js"></script>
    <!-- js end here -->

	<script></script>
  </body>
</html>
