<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("../modulars/head.ejs") %>
  </head>

  <body class="layout-compact layout-compact">
    <div class="preloader">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>

    <!-- Drawer Layout -->

    <div
      class="mdk-drawer-layout js-mdk-drawer-layout"
      data-push
      data-responsive-width="992px"
    >
      <div class="mdk-drawer-layout__content page-content">
        <!-- Header -->

        <!-- Navbar -->

        <%- include("../modulars/navbar/navbar.ejs") %>

        <!-- // END Navbar -->

        <!-- // END Header -->

        <div class="pt-32pt">
          <div
            class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
          >
            <div class="flex d-flex flex-column flex-sm-row align-items-center">
              <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h1 class="mb-0">Department Detail</h1>
              </div>
            </div>
          </div>
          <div
            class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
          >
            <a href="/departments/view" type="button" class="btn btn-success">
              <i class="material-icons">keyboard_return</i>
              <span style="padding-left: 10px">Back</span>
            </a>
          </div>
        </div>

        <!-- BEFORE Page Content -->

        <!-- // END BEFORE Page Content -->

        <!-- Page Content -->

        <div class="page-section bg-white border-bottom-2">
          <div
            class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-md-left"
          >
            <div class="flex mb-32pt mb-md-0">
              <h2 class="text-black mb-0"><%=department.department_name%></h2>
              <p class="lead text-black-50 d-flex align-items-center">
                <%=resourceNumber%> Resource(s)
                <br />
                Create Date: <%=department.create_date.toLocaleDateString()%>
                <br />
                Last Update: <%=department.last_update.toLocaleDateString()%>
              </p>
            </div>
            <a
              href="/departments/edit?departmentId=<%= department._id %>"
              type="button"
              class="btn btn-warning"
            >
              <i class="material-icons">build</i>
              <span style="padding-left: 10px">Edit</span>
            </a>
          </div>
        </div>
        <div class="page-section bg-white border-bottom-2">
          <div class="container page__container">
            <div class="row">
              <div class="">
                <h2>Department Description</h2>
                <p><%-department.department_description%></p>
              </div>
            </div>
          </div>
        </div>
        <!-- // END Page Content -->

        <!-- Footer -->

        <%- include("../modulars/footer.ejs") %>

        <!-- // END Footer -->
      </div>

      <!-- // END drawer-layout__content -->

      <!-- drawer -->

      <div
        class="mdk-drawer js-mdk-drawer layout-compact__drawer"
        id="default-drawer"
      >
        <div
          class="mdk-drawer__content js-sidebar-mini"
          data-responsive-width="992px"
          data-layout="compact"
        >

        <% if(userType === "Admin"){ %> 
          <%- include("../modulars/navbar/rnav.ejs") %>
        <% } else if (userType === "Moderator") { %> 
          <%- include("../modulars/navbar/rnav_mod.ejs") %>
        <% } else if (userType === "Tutor") { %> 
          <%- include("../modulars/navbar/rnav_tutor.ejs") %>
        <% } else { %> 
          <%- include("../modulars/navbar/rnav_student.ejs") %> 
        <% } %>

        </div>
      </div>

      <!-- // END drawer -->
    </div>

    <!-- // END Drawer Layout -->

    <!-- Dashboard js start here -->

    <%- include("../modulars/js.ejs") %>
    <script>
      function base64ToBlob(base64) {
        const binaryString = window.atob(base64);
        // const len = binaryString.length;
        // const bytes = new Uint8Array(len);
        // for (let i = 0; i < len; ++i) {
        //   bytes[i] = binaryString.charCodeAt(i);
        // }

        // return new Blob([bytes], { type: 'application/pdf' });
      }
    </script>

    <!-- Dashboard js end here -->
  </body>
</html>
