<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <%- include("../partials/head.ejs") %>
    </head>

    <body class="layout-compact layout-compact">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>

        <!-- Drawer Layout -->

        <div class="mdk-drawer-layout js-mdk-drawer-layout"
             data-push
             data-responsive-width="992px">
            <div class="mdk-drawer-layout__content page-content">

                <!-- Header -->

                <!-- Navbar -->

                <%- include("../partials/modulars/navbar.ejs") %>

                <!-- // END Navbar -->

                <!-- // END Header -->

                <div class="pt-32pt">
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">All Users</h2>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- BEFORE Page Content -->

                <!-- // END BEFORE Page Content -->

                <!-- Page Content -->

                <div class="container page__container page-section">

                    <!-- User table -->

                    <div class="card mb-lg-32pt">

                        <!-- Table Content -->

                        <div class="table-responsive"
data-toggle="lists"
data-lists-sort-by="js-lists-values-name"
data-lists-values='["js-lists-values-name", 
                    "js-lists-values-user", 
                    "js-lists-values-type", 
                    "js-lists-values-school", 
                    "js-lists-values-earnings"]'>

<div class="card-header">

    <div class="search-form">

        <input type="text"
            class="form-control search"
            placeholder="Search ...">

        <button class="btn"
        type="button"><i class="material-icons">search</i>
        </button>

    </div>

</div>

<table class="table mb-0 thead-border-top-0 table-nowrap">

    <thead>

        <tr>

            <th style="width: 18px;" class="pr-0">
                
                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                        class="custom-control-input js-toggle-check-all"
                        data-target="#users"
                        id="customCheckAllusers"
                    >

                    <label class="custom-control-label"
                        for="customCheckAllusers"><span class="text-hide">Toggle all</span>
                    </label>

                </div>

            </th>
            
            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-name">Name
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-user">User
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-type">Type
                </a>

            </th>

            <th style="width: 70px;">

               <a href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-school">School
                </a>

            </th>

            <th style="width: 30px;"
               class="pl-0">
               <a href="">Functions</a>
            </th>

        </tr>

    </thead>

    <tbody class="list"
          id="users">

        <!-- User 1 -->
        <tr>

            <td class="pr-0">

                <div class="custom-control custom-checkbox">

                    <input type="checkbox"
                           class="custom-control-input js-check-selected-row"
                           id="customCheck1_users1">

                    <label class="custom-control-label"
                           for="customCheck1_users1"><span class="text-hide">Check</span>
                    </label>

                </div>

            </td>
            
            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="avatar avatar-sm mr-8pt">

                       <img src="../dashboard/images/people/110/guy-1.jpg"
                            alt="Avatar"
                            class="avatar-img rounded-circle">

                    </div>

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name">Michael Smith</strong></p>
                           <small class="js-lists-values-email text-50">michael.smith@yahoo.com</small>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-user">msmith</strong></p>
                           <small class="js-lists-values-password text-50">test1234</small>
                        </div>

                    </div>

                </div>

            </td>


            <td>

               <a href=""
                  class="chip chip-outline-secondary js-lists-values-type">Admin</a>

            </td>

           <td class="text-50 js-lists-values-school small">Harvard University</td>

            <td class="text-right pl-0">

                <button type="button" class="btn btn-primary">
                    <i class="material-icons">visibility</i>
                </button>

                <button type="button" class="btn btn-warning">
                    <i class="material-icons">build</i>
                </button>
                
                <button type="button" class="btn btn-accent">
                    <i class="material-icons">close</i>
                </button>

            </td>

        </tr>
        <!-- // END User 1 -->

    </tbody>

</table>
</div>

                        <!-- // END Table Content -->
                        
                        <!-- Table footer -->


                        <%- include("../partials/modulars/table/footer.ejs") %>
                        
                        <!-- // END Table Footer -->

                    </div>

                    <!-- // END User table --> 

                </div>

                <!-- // END Page Content -->

                <!-- Footer -->

                <%- include("../partials/footer.ejs") %>


                <!-- // END Footer -->

            </div>

            <!-- // END drawer-layout__content -->

            <!-- drawer -->

            <div class="mdk-drawer js-mdk-drawer layout-compact__drawer"
                 id="default-drawer">
                <div class="mdk-drawer__content js-sidebar-mini"
                     data-responsive-width="992px"
                     data-layout="compact">

                     <%- include("../partials/modulars/rnav.ejs") %>
                     
                     <%- include("../partials/modulars/rnavsec.ejs") %>

                </div>
            </div>

            <!-- // END drawer -->

        </div>

        <!-- // END Drawer Layout -->

        <!-- Dashboard js start here -->

        <%- include("../partials/js.ejs") %>

        <!-- Dashboard js end here -->

    </body>

</html>