<!DOCTYPE html>
<html lang="en"
      dir="ltr">

    <head>
        <%- include("../modulars/head.ejs") %>
    </head>

    <body class="layout-compact layout-compact">

        <div class="preloader">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>

        <!-- Drawer Layout -->

        <div class="mdk-drawer-layout js-mdk-drawer-layout"
             data-push
             data-responsive-width="992px">
            <div class="mdk-drawer-layout__content page-content">

                <!-- Header -->

                <!-- Navbar -->

                <%- include("../modulars/navbar/navbar.ejs") %>

                <!-- // END Navbar -->

                <!-- // END Header -->

                <div class="pt-32pt">
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">All Users</h2>
                            </div>
                        </div>
                    </div>
                    <div class="container page__container d-flex flex-column flex-md-row align-items-center     text-center text-sm-left">
                        <a href="/users/add" type="button" class="btn btn-success">
                          <i class="material-icons">add</i>
                          <span style="padding-left: 10px;">Add new User</span>
                        </a>
                      </div>
                </div>

                <!-- BEFORE Page Content -->

                <!-- // END BEFORE Page Content -->

                <!-- Page Content -->

                <div class="container page__container page-section">

                    <!-- User table -->

                    <div class="card mb-lg-32pt">

                        <!-- Table Content -->

                        <div class="table-responsive"
                            data-toggle="lists"
                            data-lists-sort-by="js-lists-values-user"
                            data-lists-values='["js-lists-values-user", 
                                "js-lists-values-name", 
                                "js-lists-values-type",
                                "js-lists-values-user-date"]'>

                                <div class="card-header">
                                    <div class="search-form">
                                      <input
                                        type="text"
                                        class="form-control search"
                                        placeholder="Search ..."
                                      />
                    
                                      <button class="btn" type="button">
                                        <i class="material-icons">search</i>
                                      </button>
                                    </div>
                                  </div>

<table class="table mb-0 thead-border-top-0 table-nowrap">

    <thead>

        <tr>
            
            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-user">User
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-name">Full name
                </a>

            </th>

            <th>

                <a href="javascript:void(0)"
                   class="sort"
                   data-sort="js-lists-values-type">Type
                </a>

            </th>

            <th>
                <a
                  href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-user-date"
                  >Create Date
                </a>
            </th>

            <th>
                <a
                  href="javascript:void(0)"
                  class="sort"
                  data-sort="js-lists-values-user-date"
                  >Last Update
                </a>
            </th>

            <th style="width: 30px;"
               class="pl-0">
               <a href="">Functions</a>
            </th>

        </tr>

    </thead>

    <tbody class="list"
          id="users">
          <% for(var i=0; i<users.length; i++) {%>
        <!-- User 1 -->
        <tr>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-user"><%= users[i].user_name %></strong></p>
                           <small class="js-lists-values-email text-50"><%= users[i].user_email %></small>
                        </div>

                    </div>

                </div>

            </td>

            <td>
                
                <div class="media flex-nowrap align-items-center"
                    style="white-space: nowrap;">

                    <div class="media-body">

                        <div class="d-flex flex-column">
                           <p class="mb-0"><strong class="js-lists-values-name"><%= users[i].user_full_name %></strong></p>
                        </div>

                    </div>

                </div>

            </td>


            <td>
                <div class="chip chip-outline-secondary js-lists-values-type">
                    <%= users[i].type.user_type %>
                </div>
            </td>

            <td>
                <small class="js-lists-values-resource-date text-50">
                  <%= users[i].create_date.toLocaleDateString() %>
                </small>
            </td>

            <td>
                <small class="js-lists-values-resource-date text-50">
                  <%= users[i].last_update.toLocaleDateString() %>
                </small>
            </td>

            <td class="text-right pl-0">
                <a href="/users/detail?userId=<%= users[i]._id %>" type="button" class="btn btn-primary">
                  <i class="material-icons">visibility</i>
                </a>

                <a href="/users/edit?userId=<%= users[i]._id %>" type="button" class="btn btn-warning">
                  <i class="material-icons">build</i>
                </a>

                <a href="/users/delete/<%= users[i]._id %>" type="button" class="btn btn-accent">
                  <i class="material-icons">close</i>
                </a>
              </td>

        </tr>
        <!-- // END User 1 -->
        <% } %>

    </tbody>

</table>
</div>

                        <!-- // END Table Content -->
                        
                        <!-- Table footer -->


                        <%- include("../modulars/table/footer.ejs") %>
                        
                        <!-- // END Table Footer -->

                    </div>

                    <!-- // END User table --> 

                </div>

                <!-- // END Page Content -->

                <!-- Footer -->

                <%- include("../modulars/footer.ejs") %>


                <!-- // END Footer -->

            </div>

            <!-- // END drawer-layout__content -->

            <!-- drawer -->

            <div class="mdk-drawer js-mdk-drawer layout-compact__drawer"
                 id="default-drawer">
                <div class="mdk-drawer__content js-sidebar-mini"
                     data-responsive-width="992px"
                     data-layout="compact">

                     <%- include("../modulars/navbar/rnav.ejs") %>

                </div>
            </div>

            <!-- // END drawer -->

        </div>

        <!-- // END Drawer Layout -->

        <!-- Dashboard js start here -->

        <%- include("../modulars/js.ejs") %>

        <!-- Dashboard js end here -->

    </body>

</html>