<div class="sidebar sidebar-light sidebar-left flex sidebar-secondary pt-16pt"
data-perfect-scrollbar>

    <div class="tab-content">

        <%- include("../partials/modulars/pane/accbot.ejs") %>

        <%- include("../partials/modulars/pane/apps.ejs") %>

        <%- include("../partials/modulars/pane/student.ejs") %>

        <%- include("../partials/modulars/pane/instructor.ejs") %>
   
        <%- include("../partials/modulars/pane/accmid.ejs") %>
   
        <%- include("../partials/modulars/pane/messaging.ejs") %>

        <%- include("../partials/modulars/pane/component.ejs") %>

        <%- include("../partials/modulars/pane/layout.ejs") %>

    </div>

</div>