<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include("../modulars/head.ejs") %>
  </head>

  <style>
    .page-separator {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>

  <body class="layout-compact layout-compact">
    <div class="preloader">
      <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
    </div>

    <!-- Drawer Layout -->

    <div
      class="mdk-drawer-layout js-mdk-drawer-layout"
      data-push
      data-responsive-width="992px"
    >
      <div class="mdk-drawer-layout__content page-content">
        <!-- Header -->

        <!-- Navbar -->

        <%- include("../modulars/navbar/navbar.ejs") %>

        <!-- // END Navbar -->

        <!-- // END Header -->

        <div class="pt-32pt">
          <div
            class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
          >
            <div class="flex d-flex flex-column flex-sm-row align-items-center">
              <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                <h2 class="mb-0">Statistics</h2>
              </div>
            </div>
          </div>
        </div>

        <!-- BEFORE Page Content -->

        <!-- // END BEFORE Page Content -->

        <!-- Page Content -->

        <div class="container page__container page-section">
          <div class="page-selection">
            <div class="row">
              <div class="col-md-12">
                <div class="page-separator">
                  <div class="page-separator__text">User Statistics</div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="card mb-md-0">
                      <div class="card-header pb-0 border-0 d-flex">
                        <div class="flex">
                          <div class="h2 mb-0">
                            <p class="card-title">Total Users</p>
                            <%= users.length %>
                            <span
                              class="material-icons-outlined material-icons"
                            >
                              group
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="card-body stat-mf-item">
                        <div class="text-50 mb-16pt">
                          <div class="mb-4pt">
                            <div class="progress" style="height: 4px">
                              <div
                                class="progress-bar bg-primary"
                                role="progressbar"
                                style="width: 37%"
                                data-width="<%= users.length %>"
                                aria-valuenow="<%= users.length %>"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card mb-md-0">
                      <div class="card-header pb-0 border-0 d-flex">
                        <div class="flex">
                          <div class="h2 mb-0">
                            <p class="card-title">New Users this Month</p>
                            <%= usersInMonth.length %>
                            <span
                              class="material-icons-outlined material-icons"
                            >
                              group_add
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="card-body stat-mf-item">
                        <div class="text-50 mb-16pt">
                          <div class="mb-4pt">
                            <div class="progress" style="height: 4px">
                              <div
                                class="progress-bar bg-primary"
                                role="progressbar"
                                style="width: 37%"
                                data-width="<%= usersInMonth.length %>"
                                aria-valuenow="37"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="page-separator">
                  <div class="page-separator__text">Resource Statistics</div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="card mb-md-0">
                      <div class="card-header pb-0 border-0 d-flex">
                        <div class="flex">
                          <div class="h2 mb-0">
                            <p class="card-title">Total Resources</p>
                            <%= resources.length %>
                            <span
                              class="material-icons-outlined material-icons"
                            >
                              school
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="card-body stat-mf-item">
                        <div class="text-50 mb-16pt">
                          <div class="mb-4pt">
                            <div class="progress" style="height: 4px">
                              <div
                                class="progress-bar bg-primary"
                                role="progressbar"
                                style="width: 37%"
                                data-width="<%= resources.length %>"
                                aria-valuenow="37"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card mb-md-0">
                      <div class="card-header pb-0 border-0 d-flex">
                        <div class="flex">
                          <div class="h2 mb-0">
                            <p class="card-title">New Resources This Month</p>
                            <%= resourcesInMonth.length %>
                            <span
                              class="material-icons-outlined material-icons"
                            >
                              post_add
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="card-body stat-mf-item">
                        <div class="text-50 mb-16pt">
                          <div class="mb-4pt">
                            <div class="progress" style="height: 4px">
                              <div
                                class="progress-bar bg-primary"
                                role="progressbar"
                                style="width: 37%"
                                data-width="<%= resourcesInMonth.length %>"
                                aria-valuenow="37"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="page-separator">
                  <div class="page-separator__text">Department Statistics</div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="card mb-md-0">
                      <div class="card-header pb-0 border-0 d-flex">
                        <div class="flex">
                          <div class="h2 mb-0">
                            <p class="card-title">Total Departments</p>
                            <%= departments.length %>
                            <span
                              class="material-icons-outlined material-icons"
                            >
                              folder_open
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="card-body stat-mf-item">
                        <div class="text-50 mb-16pt">
                          <div class="mb-4pt">
                            <div class="progress" style="height: 4px">
                              <div
                                class="progress-bar bg-primary"
                                role="progressbar"
                                style="width: 37%"
                                data-width="<%= departments.length %>"
                                aria-valuenow="37"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card mb-md-0">
                      <div class="card-header pb-0 border-0 d-flex">
                        <div class="flex">
                          <div class="h2 mb-0">
                            <p class="card-title">New Departments This Month</p>
                            <%= departmentsInMonth.length %>
                            <span
                              class="material-icons-outlined material-icons"
                            >
                              create_new_folder
                            </span>
                          </div>
                        </div>
                      </div>

                      <div class="card-body stat-mf-item">
                        <div class="text-50 mb-16pt">
                          <div class="mb-4pt">
                            <div class="progress" style="height: 4px">
                              <div
                                class="progress-bar bg-primary"
                                role="progressbar"
                                data-width="<%= departmentsInMonth.length %>"
                                style="width: 37%"
                                aria-valuenow="37"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- // END Page Content -->

        <!-- Footer -->

        <!-- // END Footer -->
      </div>

      <!-- // END drawer-layout__content -->

      <!-- drawer -->

      <div
        class="mdk-drawer js-mdk-drawer layout-compact__drawer"
        id="default-drawer"
      >
        <div
          class="mdk-drawer__content js-sidebar-mini"
          data-responsive-width="992px"
          data-layout="compact"
        >
          <% if(userType === "Admin"){ %> <%-
          include("../modulars/navbar/rnav.ejs") %> <% } else if (userType ===
          "Moderator") { %> <%- include("../modulars/navbar/rnav_mod.ejs") %> <%
          } else if (userType === "Tutor") { %> <%-
          include("../modulars/navbar/rnav_tutor.ejs") %> <% } else { %> <%-
          include("../modulars/navbar/rnav_student.ejs") %> <% } %>
        </div>
      </div>

      <!-- // END drawer -->
    </div>

    <!-- // END Drawer Layout -->

    <!-- Dashboard js start here -->

    <%- include("../modulars/js.ejs") %>

    <!-- Dashboard js end here -->

    <script>
      const statItems = document.querySelectorAll(
        ".stat-mf-item .progress-bar"
      );

      for (let i = 0; i < statItems.length; i++) {
        const statItem = statItems[i];
        const widthNum = statItem.getAttribute("data-width");
        statItem.setAttribute("style", `width: ${widthNum}%`);
      }
    </script>
  </body>
</html>
